name: CI

on:
  pull_request:
    paths-ignore:
      - '**/*.md' # Run on all pull requests, regardless of target branch but don't run for a Markdown file change
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md' #don't trigger CI for a Markdown file change
  workflow_dispatch:

permissions:
  contents: write

jobs:
  lint:
    runs-on: ubuntu-latest
    name: "Lint"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install just
        run: pipx install rust-just

      - name: Install python or load from cache with dependencies
        uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: just install

      - name: Run linting
        run: just lint-all

  test:
    needs: lint
    runs-on: ubuntu-latest
    name: "Test"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install just
        run: pipx install rust-just

      - name: Install python or load from cache with dependencies
        uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: just install-transformers

      - name: Install latest Vespa CLI
        env:
          VESPA_CLI_VERSION: 8.250.43
        run: |
          mkdir vespa-cli
          curl -fsSL https://github.com/vespa-engine/vespa/releases/download/v${VESPA_CLI_VERSION}/vespa-cli_${VESPA_CLI_VERSION}_linux_amd64.tar.gz | \
            tar -zxf - -C vespa-cli --strip-component=1
          echo "vespa-cli/bin" >> $GITHUB_PATH

      - name: Setup local Vespa
        run: just vespa_dev_setup

      - name: Run tests excl. Vespa
        run: just test-without-vespa -vv

      - name: Run tests only Vespa
        run: just test-with-vespa -vv

  deploy_prefect_sandbox:
    needs: test
    name: "Sandbox"
    uses: ./.github/workflows/prefect_deploy.yml
    with:
      aws-env: sandbox
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_SANDBOX }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_SANDBOX }}
      PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
      PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
